



.Home{
  height: 100%;
  width: 100%;
  color: white;
    background-image: url("../images/dumbell-woman.png"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  

    background: black;
}

