.Nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 11px;
}

.mobile-bar{
  display: flex;
  justify-content: space-between;
}

.Nav a{
  text-decoration: none;
  color: grey;
}

.up{
  display:none; 
}

.drop-down{
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.drop-down a{
  margin: 3px;
}
