@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@media(max-width: 667px){
    .selection-page{
        background-image: url(../assets/Background-Image.png);
        background-size: fill;
        background-repeat: no-repeat;
        width: 100%;
        height: 667px;
        position: fixed;
        top: 0px;
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .selection-logo{
        background-image: url(../assets/hercules-logo.svg);
        width: 38px;
        height: 38px;
        position: relative;
        margin: 0px auto;
        margin-top: 50px;
    }
    .selection-text{
        position: relative;
        top: 125px;
        height: 50px;
    }
    .selection-text h1{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 39px;
        text-align: center;
        color: #ffffff;

    }
    .selection-text h3{
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: white;
        margin-top: -20px;
    }
    .selection-btns{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 35px;
    }
    .selection-btns div{
        width: 281px;
        height: 46px;
        margin: 5px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .selection-btns .loginBtn{
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        background-color: #FFEC42;
        border: none;
        color: #000000;
        text-decoration: none;
        cursor: pointer;
    }
    .selection-btns .registerBtn{
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        background-color: transparent;
        border: .1px solid grey;
        color: #ffffff;
        cursor: pointer;
    }
}